html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /* 1 rem es igual a 10px */
}

.titulo {
    text-align:center;
    font-size: 3.8rem;
}

span{ 
    color: green;
}

.titulo span {
    font-size: 20px;
    color: blue;
}

.titulo span {
    font-size: 20px;
    color: red;
}


